<div class="dialog-header">
  <div>
    {{ "נושא שבועי" }}
  </div>
  <button (click)="onCancel()" mat-icon-button mat-dialog-close>
    <mat-icon>close</mat-icon>
  </button>
</div>

<mat-dialog-content class="subject">
  <mat-form-field appearance="fill">
    <mat-label>נושא שבועי</mat-label>
    <input
      matInput
      placeholder="נושא שבועי"
      [(ngModel)]="data.subName"
      (keyup.enter)="onNoClick()"
    />
    <!-- <mat-hint>נושא</mat-hint> -->
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button class="button" (click)="onCancel()">ביטול</button>
  <button
    mat-button
    class="button"
    cdkFocusInitial
    (click)="onNoClick()"
    color="green"
    [mat-dialog-close]="name"
  >
    אישור
  </button>
</mat-dialog-actions>
