::ng-deep mat-dialog-container {
  direction: rtl;
}


.button {
  background-color: #e4b399b8 !important;
  width: 50px;
  margin: 5px;
}

::ng-deep.mdc-button{
  background-color: #e4b399b8 !important;

}



