

<img [src]="logoPath" alt="Logo" class="logo" />

<div class="subjectWeek">
  <!-- <span *ngIf="this.name; else elseBlock"> -->
  <!-- <button class="week" mat-raised-button (click)="openDialog()"> -->

  <!-- </button> -->
  <!-- </span> -->

  <!-- <ng-template #elseBlock> -->

  <button
    mat-raised-button
    [ngClass]="{ week: this.myCondition }"
    (click)="openDialog()"
    matTooltip="עדכון נושא שבועי"
  >
    {{ this.SubName || "הכנס נושא שבועי" }}
  </button>
  <!-- </ng-template> -->
  <span>&nbsp;&nbsp;&nbsp;&nbsp;</span>
  <span class="subject">{{ subject }}</span>
</div>
