.comments-container {
    height: 300px;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
    padding: 10px;
  }

  .comments-container {
    height: 300px;
    overflow-y: auto;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    scroll-padding: 0;
  }
  
  .comments-container .comment {
    scroll-snap-align: end;
  }
  .comment {
    background-color: #f0f0f0;
    border-radius: 10px;
    padding: 10px;
    margin-bottom: 10px;
    max-width: 80%;
    align-self: flex-start;
  }
  .comment-text {
    margin-bottom: 5px;
    white-space: pre-wrap;
    word-wrap: break-word;
    line-height: 1.4;  
  }
  .comment-timestamp {
    font-size: 0.8em;
    color: #666;
    text-align: right;
  }
  .comment-form {
    display: flex;
    width: 100%;
    align-items: center;

  }
  .comment-input {
    flex-grow: 1;
  }
  .send-button {
    margin-right: 10px;
    margin-left: 10px;
  }
  ::ng-deep mat-dialog-container {
    direction: rtl;
  }

  // ::ng-deep .mat-icon {
    
  //     // height: 30px !important;
  //     font-size: 15px !important;
    
  // }
  .delete{
    background: none;
    border: none;
    cursor: pointer;
  }

  

