// ::ng-deep .cal-current-time-marker {
//     display: none !important;
// }

::ng-deep mat-icon {
  // justify-content: flex-end !important;
  color: gray !important;
  margin-right: 3px;
  // margin-top: 15px;
  width: 20px !important;
  height: 25px !important;
  // font-size: 2000px;
}
.button {
  // display: inline-block;
  // border-radius: 4px;
  // background-color: #d7e3ff7a  !important;
  background-color: #e4b399b8 !important;
  color: white !important;
  border: 5px thick #333;
  // border: none;
  // // color: #FFFFFF;
  // text-align: center;
  // font-size: 15px;
  // font-weight: bolder;
  // padding: 10px;
  width: 150px;
  // transition: all 0.5s;
  // cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}
.button .Previous:after {
  content: "\00bb";
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover .Previous {
  padding-right: 25px;
}

.button:hover .Previous:after {
  opacity: 1;
  right: 0;
}

.button .Next:after {
  content: "\00ab";
  position: absolute;
  opacity: 0;
  top: 0;
  left: -20px;
  transition: 0.5s;
}

.button:hover .Next {
  padding-left: 25px;
}

.button:hover .Next:after {
  opacity: 1;
  left: 0;
}

.example-button-row {
  margin-right: 15px;
  font-size: 14px;
  margin-left: 8px;
  min-width: 120px;
  width: 120px;
  // position: relative;
  // top: 5px;
  transform: translateY(5px);
}

.buttonToday {
  display: inline-block;
  border-radius: 4px;
  // background-color: #d7e3ff;
  background-color: #e4b399b8 !important; 
  border: none;
  // color: #FFFFFF;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
  // padding: 10px;
  width: 15px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

::ng-deep .buttonToday mat-icon {
  // justify-content: flex-end !important;
  // color: gray !important;
  color: white !important;

  margin-right: 3px;
  // margin-top: 15px;
  width: 50px !important;
  height: 55px !important;
  // position: relative;
  margin-top: 7px;
  // font-size: 2000px;
  font-size: 26px !important;
}

::ng-deep .cal-today {
  // background-color: #d7e3ff7a  !important;
  background-color: #d8a78b42 !important;
}

::ng-deep .mat-calendar {
  direction: rtl;
}

::ng-deep .mat-calendar-body-cell-content {
  color: #1976d2 !important;
}

::ng-deep .mat-calendar-body-disabled {
  display: none;
}

::ng-deep .mat-mdc-raised-button:hover {
  background-color: #d9bbaa !important;
}

// .custom-height-0 .cal-hour-segment {
//   height: 100px !important;
// }

// .custom-height-1 .cal-hour-segment {
//   height: 200px !important;
// }

// .custom-height-2 .cal-hour-segment {
//   height: 100px !important;
// }

// .custom-height-3 .cal-hour-segment {
//   height: 75px !important;
// }


::ng-deep ng-star-inserted{

height: auto !important;

}
.cal-week-view .cal-time-events .cal-hour:nth-of-type(1),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(1) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(1) {
  height: 50px !important;
}

.cal-week-view .cal-time-events .cal-hour:nth-of-type(2),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(2) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(2) {
  height: 50px !important;
}

.cal-week-view .cal-time-events .cal-hour:nth-of-type(3),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(3) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(3) {
  height: 50px !important;
}

.cal-week-view .cal-time-events .cal-hour:nth-of-type(4),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(4) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(4) {
  height: 50px !important;
}

.cal-week-view .cal-time-events .cal-hour:nth-of-type(5),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(5) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(5) {
  height: 50px !important;
}

.cal-week-view .cal-time-events .cal-hour:nth-of-type(6),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(6) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(6) {
  height: 50px !important;
}

.cal-week-view .cal-time-events .cal-hour:nth-of-type(7),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(7) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(7) {
  height: 50px !important;
}

.cal-week-view .cal-time-events .cal-hour:nth-of-type(8),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(8) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(8) {
  height: 50px !important;
}

.cal-week-view .cal-time-events .cal-hour:nth-of-type(9),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(9) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(9) {
  height: 50px !important;
}

.cal-week-view .cal-time-events .cal-hour:nth-of-type(10),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(10) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(10) {
  height: 50px !important;
}

.cal-week-view .cal-time-events .cal-hour:nth-of-type(11),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(11) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(11) {
  height: 50px !important;
  
}

.cal-week-view .cal-time-events .cal-hour:nth-of-type(12),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(12) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(12) {
  height: 50px !important;
  
}
.cal-week-view .cal-time-events .cal-hour:nth-of-type(13),
.cal-week-view .cal-time-events .cal-hour:nth-of-type(13) .cal-hour-segment,
.cal-week-view .cal-time-label-column .cal-hour:nth-of-type(13) {
  height: 50px !important;
  
}
