<button
  mat-raised-button
  mwlCalendarNextView
  [view]="view"
  [(viewDate)]="viewDate"
  (viewDateChange)="changeWeek($event)"
  class="button"
>
  <span class="Next">שבוע הבא</span>
</button>

<button
  mat-raised-button
  mwlCalendarToday
  [(viewDate)]="viewDate"
  (viewDateChange)="changeWeek($event)"
  class="button"
>
  היום
</button>

<button
  mat-raised-button
  mwlCalendarPreviousView
  [view]="view"
  [(viewDate)]="viewDate"
  (viewDateChange)="changeWeek($event)"
  class="button"
>
  <span class="Previous">שבוע קודם</span>
</button>

<mat-form-field
  class="datepicker"
  appearance="outline"
  style="width: 0; visibility: hidden"
>
  <input
    matInput
    [matDatepicker]="picker"
    [matDatepickerFilter]="dateFilter"
    [(ngModel)]="viewDate"
    (dateChange)="jumpToDate($event)"
    readonly
  />
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-datepicker #picker></mat-datepicker>
</mat-form-field>

<button mat-button class="buttonToday" (click)="picker.open()">
  <mat-icon>date_range</mat-icon>
</button>

<mwl-calendar-week-view
  [viewDate]="viewDate"
  dir="rtl"
  [excludeDays]="[6]"
  [weekStartsOn]="0"
  [hourSegments]="1"
  [dayStartHour]="0"
  [dayEndHour]="14"
  [events]="events"
  [hourSegmentTemplate]="weekView"
  [currentTimeMarkerTemplate]="emptyTemplate"
  (beforeViewRender)="beforeViewRender($event)"
>
</mwl-calendar-week-view>

<ng-template #emptyTemplate>
  <!-- תבנית ריקה -->
</ng-template>

<ng-template
  #weekView
  let-segment="segment"
  let-locale="locale"
  let-segmentHeight="segmentHeight"
  let-isTimeLabel="isTimeLabel"
>
  <div
    class="cal-hour-segment"
    [style.height.px]="hourHeights[segment.date.getHours()] || 50"
  >
    <!-- הצגת הכותרת רק ביום שלישי -->
    <div *ngIf="segment?.isHeaderRow && segment.date.getDay() === 2" class="header-cell center-header">
      {{ segment?.headerTitle }}
    </div>
    
    <!-- תא ריק עבור יתר הימים בשורת הכותרת -->
    <div *ngIf="segment?.isHeaderRow && segment.date.getDay() !== 2" class="header-cell empty-header">
    </div>
    
    <div *ngIf="!segment?.isHeaderRow && !isTimeLabel" class="cal-hour-segment">
      <div *ngIf="segment.date.getHours() === 0">
        <input 
          type="text"
          placeholder="הכנס נושא יומי..."
          [value]="getDailySubjectForDate(segment.date)"
          (input)="onDailySubjectChange(segment.date, $any($event.target).value)"
          style="width: 100%; border: none; outline: none; padding: 8px; background: transparent; text-align: center; font-weight: bold; font-size: 18px; color: #333;">
      </div>

  <!-- <div *ngIf="segment.date.getHours() === 2" class="example-button-row">
        <button
          mat-icon-button
          (click)="openDialog(segment, 'note_add')"
          aria-label="Example icon-button with a heart icon"
          matTooltip="הוספת קובץ"
        >
          <mat-icon>note_add</mat-icon>
        </button>
      </div> -->

  <div *ngIf="segment.date.getHours() === 2">
          
        <input 
          type="text"
          [value]="getInspirationalpiecesForDate(segment.date)"
          (input)="onInspirationalpiecesChange(segment.date, $any($event.target).value)"
          style="width: 80%; border: none; outline: none; padding: 8px; background: transparent; text-align: center; font-weight: bold; font-size: 18px; color: #333;">

           <button
          mat-icon-button
          (click)="openDialog(segment, 'note_add')"
          aria-label="Example icon-button with a heart icon"
          matTooltip="הוספת קובץ"
        >
          <mat-icon>attach_file</mat-icon>
        </button>

        </div>

      <div *ngIf="segment.date.getHours() === 3" style="height: 100%; display: flex; align-items: stretch;">

          <mat-select style="width: 100%; height: 100%"
            placeholder="מצב כתיבה"
            [(value)]="writingStatusByHour[segment.date.toDateString()]"
            [ngStyle]="{'background-color': getSelectedColor(segment.date, 3)}"
            (selectionChange)="onWritingStatusChange(segment.date, $event.value)">
            <mat-option 
              *ngFor="let option of writingStatusOptions" 
              [value]="option.value"
              [style.background-color]="option.color">
              {{ option.label }}
            </mat-option>
          </mat-select>

      </div>

  

      <div *ngIf="segment.date.getHours() === 4" style="height: 100%; display: flex; align-items: stretch;">
          <mat-select 
            placeholder="מצב קריון"
            [(value)]="narratorStatusByHour[segment.date.toDateString()]"
                [ngStyle]="{'background-color': getSelectedColor(segment.date, 4)}"

            (selectionChange)="onNarratorStatusChange(4, $event.value)">
            <mat-option 
              *ngFor="let option of narratorStatusOptions" 
              [value]="option.value"
              [style.background-color]="option.color">
              {{ option.label }}
            </mat-option>
          </mat-select>
      </div>

      <div *ngIf="segment.date.getHours() === 5" style="height: 100%; display: flex; align-items: stretch;">
          <mat-select 
            placeholder="מצב אולפן"
            [(value)]="studioStatusByHour[segment.date.toDateString()]"
                [ngStyle]="{'background-color': getSelectedColor(segment.date, 5)}"

            (selectionChange)="onStudioStatusChange(5, $event.value)">
            <mat-option 
              *ngFor="let option of studioStatusOptions" 
              [value]="option.value"
              [style.background-color]="option.color">
              {{ option.label }}
            </mat-option>
          </mat-select>
      </div>
      <div *ngIf="segment.date.getHours() === 6" style="height: 100%; display: flex; align-items: stretch;">
          <mat-select 
            placeholder="עורכת"
            [(value)]="editorsByHour[segment.date.toDateString()]"
                [ngStyle]="{'background-color': getSelectedColor(segment.date, 6)}"

            (selectionChange)="onEditorChange(6, $event.value)">
            <mat-option 
              *ngFor="let option of editorsOptions" 
              [value]="option.value"
              [style.background-color]="option.color">
              {{ option.label }}
            </mat-option>
          </mat-select>
      </div>

      <div *ngIf="segment.date.getHours() === 7" style="height: 100%; display: flex; align-items: stretch;">
        <mat-select 
            placeholder="מכינה תוכנית"
            [(value)]="ProgramPreparerByHour[segment.date.toDateString()]"
                [ngStyle]="{'background-color': getSelectedColor(segment.date, 7)}"

            (selectionChange)="onProgramPreparerChange(7, $event.value)">
            <mat-option 
              *ngFor="let option of programPreparersOptions" 
              [value]="option.value"
              [style.background-color]="option.color">
              {{ option.label }}
            </mat-option>
          </mat-select>
      </div>
   

       <div *ngIf="segment.date.getHours() === 9">
        <input 
          type="text"
          [value]="getpanelstsForDate(segment.date)"
          (input)="onpanelsChange(segment.date, $any($event.target).value)"
          style="width: 80%; border: none; outline: none; padding: 8px; background: transparent; text-align: center; font-weight: bold; font-size: 18px; color: #333;">
      <button
          mat-icon-button
          (click)="openDialog(segment, 'note_add')"
          aria-label="Example icon-button with a heart icon"
          matTooltip="הוספת קובץ"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
        </div>


      <div *ngIf="segment.date.getHours() === 10" style="height: 100%; display: flex; align-items: stretch;">
          <mat-select 
            placeholder="מצב הקלטה"
            [(value)]="RecordingStatusByHour[segment.date.toDateString()]"
                [ngStyle]="{'background-color': getSelectedColor(segment.date, 10)}"

            (selectionChange)="onRecordingStatusChange(10, $event.value)">
            <mat-option 
              *ngFor="let option of recordingStatusOptions" 
              [value]="option.value"
              [style.background-color]="option.color">
              {{ option.label }}
            </mat-option>
          </mat-select>
      </div>

      <div *ngIf="segment.date.getHours() === 11" style="height: 100%; display: flex; align-items: stretch;">
          <mat-select 
            placeholder="מצב אולפן"
            [(value)]="studioStatusByHour[segment.date.toDateString()]"
                [ngStyle]="{'background-color': getSelectedColor(segment.date, 5)}"

            (selectionChange)="onStudioStatusChange(11, $event.value)">
            <mat-option 
              *ngFor="let option of studioStatusOptions" 
              [value]="option.value"
              [style.background-color]="option.color">
              {{ option.label }}
            </mat-option>
          </mat-select>
      </div>

      
      <div *ngIf="segment.date.getHours() === 12" style="height: 100%; display: flex; align-items: stretch;">
          <mat-select 
            placeholder="עורכת"
            [(value)]="editorsByHour[segment.date.toDateString()]"
                [ngStyle]="{'background-color': getSelectedColor(segment.date, 6)}"

            (selectionChange)="onEditorChange(12, $event.value)">
            <mat-option 
              *ngFor="let option of editorsOptions" 
              [value]="option.value"
              [style.background-color]="option.color">
              {{ option.label }}
            </mat-option>
          </mat-select>
      </div>

       <div *ngIf="segment.date.getHours() === 14">
        <input 
          type="text"
          [value]="getNotesForDate(segment.date)"
          (input)="onNotesChange(segment.date, $any($event.target).value)"
          style="width: 80%; border: none; outline: none; padding: 8px; background: transparent; text-align: center; font-weight: bold; font-size: 18px; color: #333;">
     
         <button
          mat-icon-button
          (click)="openDialog(segment, 'note_add')"
          aria-label="Example icon-button with a heart icon"
          matTooltip="הוספת קובץ"
        >
          <mat-icon>attach_file</mat-icon>
        </button>
        </div>

      <!-- <button mat-raised-button (click)="openDialog(segment)"  type="submit"> -->
      <!-- <span>
       
        <div class="example-button-row">
          <button
            mat-icon-button
            (click)="openDialog(segment, 'note_add')"
            aria-label="Example icon-button with a heart icon"
            matTooltip="הוספת קובץ"
          >
            <mat-icon>note_add</mat-icon>
          </button>

          <button
            mat-icon-button
            (click)="openDialog(segment, 'description')"
            aria-label="Example icon-button with a heart icon"
            matTooltip="רשימת הקבצים"
          >
            <mat-icon>description</mat-icon>
          </button>

          <button
            mat-icon-button
            (click)="openDialog(segment, 'comments')"
            aria-label="Example icon-button with a heart icon"
            matTooltip="הערות"
          >
            <mat-icon style="overflow: visible">message</mat-icon>
          </button>
        </div>
      </span> -->
      <!-- <button (click)="loadCountDoc(segment)">נותרו {{initialState.unedited}} קבצים לא ערוכים</button> -->
      <!-- <span>נותרו {{num}} קבצים שלא עברו ביקורת</span> -->
      <!-- <div>
        מספר מסמכים ללא עריכה וללא אישור: {{ segment.dataCount.falseEditAndConfirmedCount }}
        מספר מסמכים ללא עריכה: {{ segment.dataCount.falseEditOnlyCount }}
        מספר מסמכים ללא אישור: {{ segment.dataCount.falseConfirmedOnlyCount }}
      </div> -->
    </div>

    <div *ngIf="isTimeLabel && !segment?.isHeaderRow" class="cal-time" style="background-color: #f4e6f1 !important;">
      <p class="important">{{ getHeaderForHour(segment.date.getHours()) }}</p>
    </div>

    
  </div>
</ng-template>


